// ------------------------------------------
// Typography
// ------------------------------------------

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}

.u-text--max-bold {
  font-weight: 900;
}

.u-text--bold {
  font-weight: 700;
}

.u-text--semi-bold {
  font-weight: 600;
}

.u-text--medium {
  font-weight: 500;
}

.u-text--light {
  font-weight: 300;
}

.u-text--lighter {
  opacity: .5;
}

.u-text-spacing--big {
  letter-spacing: 2px;
}

.u-text--letterspacing-small {
  letter-spacing: .5px;
}

.u-text--letterspacing-regular {
  letter-spacing: 1px;
}

.u-text--small {
  font-size: 10px;
}
