// ------------------------------------------
// Utilities
// ------------------------------------------

.u-clickable {
  cursor: pointer;
  user-select: none;
}

.u-uppercase {
  text-transform: uppercase;
}

.u-text--underline {
  text-decoration: underline;
}

.u-text--center {
  text-align: center;
}

.u-overflow--hide {
  overflow: hidden;
}

.u-relative {
  position: relative;
}

.u-full-width {
  width: 100%;
  flex-basis: 100%;
}

.u-max-width-800 {
  max-width: 800px;
}

.u-direction-row {
  display: flex;
  flex-direction: row;
}

.u-direction-col--mobile {
  @include max-screen($tablet - 1) {
    flex-direction: column;
  }
}

.u-flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.u-flex-baseline {
  display: flex;
  align-items: baseline;
}

.u-flex-end {
  justify-content: flex-end;
}

.u-no-padding--mobile {
  @include max-screen($tablet + 1) {
    padding: 0 !important;
  }
}

.u-reset-margin {
  margin: 0 !important;
}

.u-reset-padding {
  padding: 0 !important;
}

.u-hide--mobile {
  @include max-screen($desktop--small) {
    display: none !important;
  }
}

.u-hide--desktop {
  @include min-screen($desktop--small) {
    display: none;
  }
}

.u--hide {
  display: none;
}
